.calstack-video-control-wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.calstack-video-control-bar {
    --calstack-control-bar-color: rgba(255, 255, 255, 0.8);
    --calstack-control-bar-color-dark: rgba(12, 12, 12, 0.8);

    display: flex;
    align-items: center;
    gap: 0.5rem;

    box-sizing: border-box;
    width: 100%;
    padding: 0.25rem;

    background-color: var(--calstack-control-bar-color);

    @media (prefers-color-scheme: dark) {
        --calstack-control-bar-color: var(--calstack-control-bar-color-dark);
    }
}

.calstack-video-control {
    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    height: 2rem;
    width: 2rem;
    padding: 0.5rem;
    border: none;
    border-radius: 0.5rem;

    background-color: transparent;
    color: inherit;

    filter: brightness(100%);

    cursor: pointer;
    transition: background-color 200ms linear;

    &:hover {
        filter: brightness(180%);
    }

    &--play {
        content: "\25BA";
    }

    &--play,
    &--pause,
    &--exit-fullscreen,
    &--fullscreen {
        display: none;

        &.calstack-video-control--active {
            display: flex;
        }
    }
}

.calstack-video-time {
    font-weight: 600;
    line-height: 1;
}

.calstack-video-time-divider {
    margin-inline: 0.5rem;
}

.calstack-video-spacer {
    flex: 1;
}
