@mixin shared-styles {
    appearance: none;
    -webkit-appearance: none;
    transition: all ease 100ms;
    height: var(--calstack-video-thumb-height);
}

.calstack-video-progress-bar {
    position: relative;
    width: 100%;
    height: calc(var(--calstack-video-track-height) - 1px);
}

.calstack-video-progress-input {
    @include shared-styles();

    --clip-edges: 0.125em;

    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    overflow: hidden;
    width: 100%;
    margin: 0;

    background: transparent;
    color: inherit;

    font-size: 1.5rem;
    flex: 1;

    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
        @include shared-styles();
        position: relative;
    }

    &::-moz-range-track,
    &::-moz-range-thumb {
        appearance: none;
        transition: all ease 100ms;
        height: var(--calstack-video-thumb-height);
    }

    &::-webkit-slider-runnable-track {
        background: linear-gradient(var(--calstack-video-track-color) 0 0)
            scroll no-repeat center / 100%
            calc(var(--calstack-video-track-height) + 1px);
    }

    &::-webkit-slider-thumb {
        --clip-top: calc(
            (
                    var(--calstack-video-thumb-height) - var(
                            --calstack-video-track-height
                        )
                ) * 0.5 - 0.5px
        );
        --clip-bottom: calc(
            var(--calstack-video-thumb-height) - var(--clip-top)
        );
        --clip-further: calc(100% + 1px);
        --box-fill: calc(
                -100vmax - var(
                        --calstack-video-thumb-width,
                        var(--calstack-video-thumb-height)
                    ) + 1px
            )
            0 0 100vmax currentColor;

        width: var(
            --calstack-video-thumb-width,
            var(--calstack-video-thumb-height)
        );
        background: linear-gradient(currentColor 0 0) scroll no-repeat left
            center / 50% calc(var(--calstack-video-track-height) + 1px);
        background-color: currentColor;
        box-shadow: var(--box-fill);
        border-radius: var(
            --calstack-video-thumb-width,
            var(--calstack-video-thumb-height)
        );

        filter: brightness(100%);
        clip-path: polygon(
            100% -1px,
            var(--clip-edges) -1px,
            0 var(--clip-top),
            -100vmax var(--clip-top),
            -100vmax var(--clip-bottom),
            0 var(--clip-bottom),
            var(--clip-edges) 100%,
            var(--clip-further) var(--clip-further)
        );
    }

    &::-moz-range-track,
    &::-moz-range-thumb,
    &::-moz-range-progress {
        background: #fff0;
    }

    &::-moz-range-thumb {
        background: currentColor;
        border: 0;
        width: var(
            --calstack-video-thumb-width,
            var(--calstack-video-thumb-height)
        );
        border-radius: var(
            --calstack-video-thumb-width,
            var(--calstack-video-thumb-height)
        );
        cursor: grab;
    }

    &::-moz-range-track {
        width: 100%;
        background: var(--calstack-video-track-color);
    }

    &::-moz-range-progress {
        appearance: none;
        background: currentColor;
        transition-delay: 30ms;
    }

    &::-moz-range-track,
    &::-moz-range-progress {
        height: calc(var(--calstack-video-track-height) + 1px);
        border-radius: var(--calstack-video-track-height);
    }

    &::-moz-range-thumb,
    &::-moz-range-progress {
        filter: brightness(100%);
    }

    &:hover {
        &::-webkit-slider-thumb {
            filter: brightness(var(--calstack-video-brightness-hover));
            cursor: grab;
        }

        &::-moz-range-thumb,
        &::-moz-range-progress {
            filter: brightness(var(--calstack-video-brightness-hover));
        }
    }

    &:disabled {
        filter: grayscale(1);
        opacity: 0.3;
        cursor: not-allowed;

        &::-webkit-slider-thumb {
            cursor: not-allowed;
        }

        &::-moz-range-thumb {
            cursor: not-allowed;
        }
    }

    &:active {
        cursor: grabbing;

        &::-webkit-slider-thumb {
            filter: brightness(var(--calstack-video-brightness-active));
            cursor: grabbing;
        }

        &::-moz-range-thumb {
            cursor: grabbing;
        }

        &::-moz-range-thumb,
        &::-moz-range-progress {
            filter: brightness(var(--calstack-video-brightness-active));
        }
    }
}
