@use "./control-bar" as *;
@use "./overlay" as *;
@use "./progress-bar" as *;
@use "./video" as *;
@use "./wrapper" as *;

:root {
    --calstack-video-accent-color: #2ca0d2;
    --calstack-video-accent-color-dark: #3eceeb;

    --calstack-video-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    --calstack-video-box-shadow-dark: 0 3px 10px rgba(255, 255, 255, 0.1);

    --calstack-video-brightness-active: 130%;
    --calstack-video-brightness-hover: 130%;

    --calstack-video-control-bar-color: #ffffff;
    --calstack-video-control-bar-color-dark: #1e1e1e;

    --calstack-video-text-color: #202020;
    --calstack-video-text-color-dark: #ececec;

    --calstack-video-thumb-height: 1rem;

    --calstack-video-track-color: #d2d2d2;
    --calstack-video-track-color-dark: #2c2c2c;
    --calstack-video-track-height: 0.5rem;

    @media (prefers-color-scheme: dark) {
        --calstack-video-accent-color: var(--calstack-video-accent-color-dark);

        --calstack-video-box-shadow: var(--calstack-video-box-shadow-dark);

        --calstack-video-control-bar-color: var(
            --calstack-video-control-bar-color-dark
        );

        --calstack-video-text-color: var(--calstack-video-text-color-dark);

        --calstack-video-track-color: var(--calstack-video-track-color-dark);
    }
}
