@use "./control-bar" as *;
@use "./progress-bar" as *;

.calstack-video-wrapper {
    --accent-color: #ef233c;
    --accent-color-dark: #f07167;
    --track-height: 0.5rem;

    display: flex;
    flex-direction: column;

    position: relative;

    color: var(--accent-color);

    @media (prefers-color-scheme: dark) {
        color: var(--accent-color-dark);
        --track-color: rgba(255, 255, 255, 0.1);
    }
}

.calstack-video {
    display: block;
    width: 100%;
    height: 100%;
}
